:root {
    --fuente-heading: 'PT Sans', sans-serif;
    --fuente-parrafos: 'Open Sans', sans-serif;
    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #fff;
    --negro: #000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuente-parrafos);
    font-size: 1.6rem;
    line-height: 2;
}
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuente-heading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
.header {
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-position: center center;
}
.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-block-start: 5rem;
}
@media (min-width: 768px) {
    .header__texto {
        margin-block-start: 10rem;
    }
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    color: var(--blanco);
}
.logo__nombre {
    font-weight: 400;
}
.logo__bold {
    font-weight: 700;
}
.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}
@media (min-width: 768px) {
    .contenido__principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}
.entrada {
    border-bottom: 1rem solid var(--gris);
    margin-block-end: 3rem;
}
.entrada:last-of-type {
    border: none;
    margin: none;
}
.boton {
    display: block;
    font-family: var(--fuente-heading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-block-end: 2rem;
    border: none;
}
.boton:hover {
    cursor: pointer;
}
@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}
.boton--primario {
    background-color: var(--negro);
}
.boton--secundario {
    background-color: var(--primario);
}
.cursos {
    list-style: none;
}
.widget-curso {
    border-bottom: 1rem solid var(--gris);
    margin-block-end: 2rem;
}
.widget-curso:last-of-type {
    border: none;
    margin: 0;
}
.widget-curso__label, .curso__label {
    font-family: var(--fuente-heading);
    font-weight: 700;
}
.widget-curso__info, .curso__info {
    font-weight: 400;
    color: #333;
}
.widget-curso__info, .widget-curso__label, .curso__info, .curso__label {
    font-size: 2rem;
}
.footer {
    background-color: var(--negro);
}
@media (min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
        align-items: center;
    }
}
.curso {
    padding: 3rem 0;
    border-bottom: .1rem solid var(--gris);
}
.curso:last-of-type {
    border: none;
}
@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
        align-items: center;
    }    
}
.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;

}
.campo {
    display: flex;
    gap: 2rem;
    margin-block-end: 2rem;
}
.campo__label {
    flex: 0 0 9rem;
    text-align: start;
}
.campo__field {
    flex: 1;
    border: .1rem solid var(--gris);
}